body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}



header {
  padding: 1rem;
  background: #bbeeb9;
  color: black;
  text-align: center;
  border-bottom: 5px solid #e0e0e0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
}

#app {
  display: flex;
  height: calc(100vh - 100px);
}

#map {
  flex: 2;
  min-height: 400px;
  background-color: #e0e0e0; 
 
}

#landmarkForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#landmarkForm label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 0.9rem;
}


#landmarkForm input,
#landmarkForm textarea {
  margin-top: 0.3rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#landmarkForm fieldset {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 4px;
}

#landmarkForm legend {
  padding: 0 0.5rem;
  font-weight: bold;
  font-size: 0.85rem;
}

#landmarkForm button,
#useLocation {
  padding: 0.6rem;
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


#landmarkForm button[type="submit"] {
  background: #7eb5dc;
  color: white;
}


#useLocation {
  background: #f0f0f0;
}

#landmarkForm button:hover,
#useLocation:hover {
  opacity: 0.9;
}


#controls hr {
  margin: 1.5rem 0;
  border: none;
  border-top: 1px solid #eee;
}


#landmarkList {
  list-style: none;
  padding: 0;
}

#landmarkList li {
  padding: 0.75rem;
  border-bottom: 1px solid #eee;
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 1rem;
  border-radius: 4px;
}

#controls {
  background: #ffffff;
  border-left: 8px solid #e0e0e0;
  padding: 1.5rem;
  box-sizing: border-box;
  flex: 1
}

#controls h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 24px;
  border-bottom: 2px solid #f0f0f0;
  padding-bottom: 7px;
  text-align: center;
}

.highlight {
  border: 2px solid #007bff;
  background-color: #ecdf57;
}


.delete-btn {
  background-color: #e74c3c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  #app {
    flex-direction: column;
  }

  #map {
    height: 300px;
  }
}
